body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 50px;
}
.name {
    color: seagreen;
}
h3 {
    color: mediumseagreen;
    font-size: 30px;
}
.flex-container {
    display: flex;
}
.half-width {
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}
p {
    font-weight: 100;
}
img {
    width: 80%;
}
.link-button {
    color: white;
    font-weight: 700;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    background-image: linear-gradient(mediumseagreen, seagreen);
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.second-banner {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.scnd-img {
    margin-top: 20px;
}
.cards {
    width: 40%;
    margin: 0 5%;
    box-shadow: 7px 7px 40px grey;
    padding: 30px;
}
#card1{
    border-left: 10px solid;
    border-radius: 1pt;
    border-image: linear-gradient(lightgreen, mediumseagreen);
    border-image-slice: 1;
}
#card2 {
    border-left: 10px solid;
    border-radius: 1pt;
    border-image: linear-gradient(mediumseagreen, lightgreen);
    border-image-slice: 1;
}
.exp-section {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin: 125px 0;
}
footer p {
    text-align: center;
    color: gray;
}
.help {
    color: gray;
}
#exp {
    margin-left: 5%;
    margin-bottom: 5%;
}